.dhd-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32cqi;
  aspect-ratio: 10 / 9;
  position: absolute;
  bottom: 0%;
  left: 150px;
  background: radial-gradient(
    circle at center,
    hsl(200, 33%, 28%),
    hsl(204, 31%, 10%)
  );
  clip-path: polygon(30% 0, 70% 0, 100% 60%, 80% 100%, 20% 100%, 0 60%);
  transition: all 0.4s ease-in-out;
}
.dhd-console {
  width: 32cqi;
  aspect-ratio: 10 / 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  margin-block: -0.35rem;
  .dial {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: radial-gradient(
      circle at top,
      hsl(31, 78%, 17%) 9.2%,
      hsl(31, 78%, 22%) 103.9%
    );
    color: rgb(12, 147, 177);
    font-family: var(--pegasus);
    font-size: 0.9cqi;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin-inline: -1rem;
    aspect-ratio: 1;
    cursor: pointer;
    .dhd-symbol {
      pointer-events: none;
    }
  }
}
.engage-dial {
  background: hsl(31, 78%, 13%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: 80%;
  margin-inline: -1rem;
  aspect-ratio: 1;
  pointer-events: none;
}
.engage-active {
  background: hsl(31, 78%, 23%);
   background: radial-gradient(
      circle at top,
      hsl(31, 78%, 20%) 9.2%,
      hsl(31, 78%, 25%) 103.9%
    );
  animation: pulse 1s ease infinite;
  cursor: pointer;
  transition: all .5s ease-in;
}
.engage-active::after {
  transition: all .5s ease-in;
  content: '';
  position: absolute;
  z-index: 100;
  height: 45%;
  aspect-ratio: 10 / 9;
  background: rgb(12, 147, 177);
  bottom: 3px;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.engage-dial::before {
  content: '';
  position: absolute;
  z-index: 100;
  height: 50%;
  aspect-ratio: 10 / 9;
  background: rgba(0, 0, 0, 0.4);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.dial:nth-of-type(even) {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
#row-1 {
  .dial:nth-of-type(odd) > * {
    margin-block-start: 40px;
  }
}
#row-2 {
  .dial:nth-of-type(even) * {
    margin-block-start: -1px;
  }
  .dial:nth-of-type(odd) * {
    margin-block-start: 30px;
  }
}
#row-3 {
  .dial:nth-of-type(even) * {
    margin-block-start: 0px;
  }
  .dial:nth-of-type(odd) * {
    margin-block-start: 30px;
  }
}
#row-4 {
  .dial {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
  .dial:nth-of-type(even) {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  .dial:nth-of-type(even) > * {
    margin-block-start: 30px;
  }
  .dial:nth-of-type(odd) > * {
    margin-block-start: 0px;
  }
}
#row-5 {
  .dial {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
  .dial:nth-of-type(even) {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  .dial:nth-of-type(even) > * {
    margin-block-start: 30px;
  }
  .dial:nth-of-type(odd) > * {
    margin-block-start: -0px;
  }
}
.active {
  font-size: 1cqi;
  color: hsl(191, 87%, 47%);
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
  pointer-events: none;
}
@keyframes pulse {
  from {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  to {
    scale: 1;
  }
}
