@font-face {
    font-family: 'stargate_atlantis_glyphsRg';
    src: url('atlantis-glyphs-webfont.woff2') format('woff2'),
         url('atlantis-glyphs-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}